{% extends 'base.html'%}

{% block content %} 

<form action="{% url 'listings_new' %}" method="POST">
{% csrf_token %}
<label for="name">
    Item Name: <input type="text" name="name" placeholder="Item name" required>
</label><br>
<label for="category">
    <!-- to do: replace with for loop/ allow for dynamic 'category'  -->
    Category: 
    <select name="category" id="category" required>
        <option value="" selected disabled hidden>Category</option>
        <option value="Books">Books</option>
        <option value="Home">Home</option>
        <option value="Sporting">Sporting</option>
        <option value="Tech">Tech</option>
        <option value="Fashion">Fashion</option>
    </select>
</label><br>
<label for="description">
    A brief description: <input type="text" name="description" placeholder="Description" required>
</label><br>
<label for="address">
    Pickup address: <input type="text" name="address" placeholder="Address">
</label><br>
<label for="min_bid_price">
    Starting bid price: <input type="number" name="min_bid_price" min="0" laceholder="Starting bid price" step="0.05" required >
</label><br>
<label for="buy_now_price">
    Buy now price: <input type="number" name="buy_now_price" min="0" placeholder="Buy now price" required>
</label><br>
    Expiry date for bid: <input type="datetime-local" name="expiry_date" id="id_date" required> 
</label><br>
<button type="submit">Add to my listing</button>
</form>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  </script>
{% endblock %}
