{% extends 'base.html'%} {% block content %}

<div class="card-group">
  {% for item in items%}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ item.name}}</h5>
      <p class="card-tex">
        Catetgory: {{ item.category }} <br />
        Description: {{ item.description }} <br />
        Starting Bid Price: {{ item.min_bid_price }} <br />
        Current Bid Price: {{ item.current_highest_bid }} <br />
        Item listing date: {{ item.created_date }} <br />
        Bid ends on: {{ item.expiry_date }} <br />
      </p>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
