{% extends 'base.html'%} 

{% block content %}

<div class="card-group">
  <!-- display each listing as a card  -->
  {% for item in items%}
  <div class="card">
    <a href="{% url 'listings_detail' item.id %}">
    <div class="card-body">
      <h5 class="card-title">{{ item.name}}</h5>
      <p class="card-tex">
        seller: {{ item.seller }} <br>
        Catetgory: {{ item.category }} <br />
        Description: {{ item.description }} <br />
        Starting Bid Price: {{ item.min_bid_price }} <br />
        Current Bid Price: {{ item.current_highest_bid }} <br />
        Item listing date: {{ item.created_date }} <br />
        Bid ends on: {{ item.expiry_date }} <br />
        Bids:
        <ul>
        {% for bid in bids%}
          {% if bid.listing|stringformat:'s' == item.name %}
          <li>{{bid.bidder}} : ${{bid.amount}} on {{bid.datetime}}</li> 
          {% endif %}
        {% endfor %}
      </ul>
  </a>
        <a href="{% url 'listings_update' item.id %}">
          <button>
            Edit Listing
          </button>
        </a>

          <a href="{% url 'listings_delete' item.id %}">
            <button>
              Delete Listing
            </button>
          </a>
      </p>
    </div>
  </div>

  {% endfor %}
  <ul>

        
  </ul>
</div>
{% endblock %}
