{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Log in</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3> Username </h3>
        <div>{{ form.username }}</div>
        <h3> Password</h3>
        <div>{{ form.password }}</div>
        <button type="submit">LOG IN</button>
        <input type="hidden" name="next" value="{{ next }}">
        <p>Don't have an account? <a href="{% url 'signup' %}"> Sign Up</a></p>
    </form>
</div>


<script>
    const form_fields = document.getElementsByTagName('input')
    form_fields[1].classList.add("registration")
    form_fields[2].classList.add("registration")
</script>

{% endblock %}