{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}


{% block content %}
<h1>SIGN UP PAGE</h1>

<form method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
        <label for="Username" class="form-label">{{ form.username.label }}</label>
        {{ form.username }}

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{{ form.password1.label }}</label>
        {{ form.password1 }}
        <div id="passwordHelp" class="form-text">
            Your password must contain at least 8 characters.
            <br>Your password can’t be entirely numeric.
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{{ form.password2.label }}</label>
        {{ form.password2 }}
    </div>
    <div id="error-message" class="mb-3"> {{ error_message }}</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    const form_fields = document.getElementsByTagName('input')
    form_fields[1].classList.add("form-control")
    form_fields[2].classList.add("form-control")
    form_fields[3].classList.add("form-control")

</script>

{% endblock %}