{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
    <div id="sidenav-overlay"></div>
    <nav id="desktop-nav" class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand " href="{% url 'home' %}">Home</a>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'listings_index' %}">Listings</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'listings_create' %}">Add item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'message_index' %}">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <nav id="mobile-nav" class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="d-flex justify-content-between">
            <span id="menu-icon" class="material-icons md-36">
                menu
            </span>
            <a class="navbar-brand" href="{% url 'home' %}">bid market <svg xmlns="http://www.w3.org/2000/svg" x="0px"
                    y="0px" width="36" height="36" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#f2c34f">
                            <path
                                d="M89.58333,17.91667l-67.36667,67.36667c-5.73333,5.73333 -5.73333,14.69167 0,20.425l44.075,44.075c5.73333,5.73333 14.69167,5.73333 20.425,0l67.36667,-67.36667v-50.16667c0,-7.88333 -6.45,-14.33333 -14.33333,-14.33333zM132.58333,46.58333c-3.94167,0 -7.16667,-3.225 -7.16667,-7.16667c0,-3.94167 3.225,-7.16667 7.16667,-7.16667c3.94167,0 7.16667,3.225 7.16667,7.16667c0,3.94167 -3.225,7.16667 -7.16667,7.16667">
                            </path>
                        </g>
                    </g>
                </svg></a>

        </div>
    </nav>

    <div id="side-nav">
        {% if user.is_authenticated %}
        <a href="{% url 'listings_index' %}">All Listings</a>
        <a href="{% url 'listings_create' %}">Add item</a>
        <a href="{% url 'message_index' %}">Messages</a>
        <a href="{% url 'profile' %}">My Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>

    <main class="container">{% block content %} {% endblock %}</main>
</body>

<script>
    let overlay = document.getElementById("sidenav-overlay")
    let menu = document.getElementById("menu-icon");
    menu.addEventListener("click", function (e) {
        e.stopPropagation();
        if (menu.classList.contains("open")) {
            closeNav();
            menu.classList.toggle("open")
        } else {
            openNav();
            menu.classList.toggle("open")

        }
    })

    document.addEventListener("click", function (e) {
        if (menu.classList.contains("open")) {
            closeNav();
        }
    })

    function openNav() {
        document.getElementById("side-nav").style.width = "250px";
        overlay.style.display = "block"
        document.documentElement.style.overflow = 'hidden';
        document.body.scroll = "no";

    }
    function closeNav() {
        document.getElementById("side-nav").style.width = "0";
        overlay.style.display = "none"
        document.documentElement.style.overflow = 'scroll';
        document.body.scroll = "yes";
    }
</script>

</html>