/**************************** General ******************************/
:root{
    --yellow: #F2C34F;
  }

/****************************  ******************************/
h4 {
    color: var(--yellow)
}

input {
    height: 40px;
}
