:root {
    --svgcolor: black;
    --yellow: #F2C34F;
}

/**************************** General ******************************/

main{
    height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: helvetica;
    padding: 10px;
}
/**************************** Edit/Delete******************************/
#edit-delete {
    text-align: center;
}

#edit-delete a {
    color: rgb(90, 90, 90);
}

#edit-delete a:hover{
    color: var(--yellow);
}
/**************************** Status Info ******************************/
.status-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-end;
}
.status-info >div {
    display:flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    color:rgb(11, 148, 114);
}

#message-icon {
    cursor: pointer;
}

#message-icon:hover {
    --svgcolor:#F2C34F;
}

#highest-bid {
    color: rgb(11, 148, 114);
}

#time-remaining {
    color: rgb(212, 74, 74);
}

#number-bids {
    color: black;
}

/**************************** Image ******************************/
.image {
    position: relative;
    text-align: center;
    width: 94vw;
    height: 94vw;
    max-width: 500px;
    max-height: 500px;
    background-color: rgb(247, 247, 247);
}


.image >img {
    max-width: 100%;
    max-height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
}

.item-name {
    font-size: 24px;
    font-weight: 800;
    color:black;
    margin: 0px 5px -10px 5px;
  }
  
/**************************** Navigation Tabs ******************************/
#tab-header {
    display: flex;
    align-items: center;
    height: 50px;
}

#tab-header div {
    font-size: 18px;
    font-weight: bold;
    width: 33%;
    text-align: center;
    cursor: pointer;
    color: rgb(107, 107, 107)
}

#tab-header div.active {
    color: var(--yellow);
}

#indicator {
    position: relative;
    width: 33%;
    height: 4px;
    background-color: var(--yellow);
    border-radius: 3px;
    left: 0px;
    transition:all 0.2s ease-in-out;
}
#content {
    position: relative;
}
#content > section {
    opacity: 0;
    position: absolute;
    top: 10px;
    width: 100%;
}

#content > section.active {
    opacity: 1;
    z-index: 500;
}

/**************************** Bid ******************************/
#bid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bid h4 {
    text-align: center;
}

#quickbids {
    margin: 10px 30px 10px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#bid-input-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-self: center;
}

input[type="button"]{
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin: 5px;
}

input[type="button"]:hover{
    background-color: var(--yellow);
    outline:none;
}

#bid-message-input {
    width: 120px;
    height: 40px;
    border: 2px solid black;
    border-radius: 0%;
}

#bid-message-input:hover{
    outline:none;
}

#bid-message-submit {
    background-color: var(--yellow);
    border: 2px solid black;
    width: 120px;
    height:40px;
}

#bid-message-submit:hover {
    outline: none;
}

.messages {
    padding: 5px;
    min-width: 80%;
    min-height: 40px;
}

div.success {
    text-align: center;
    color: rgb(11, 148, 114);
    background-color: rgba(170, 233, 209, 0.5);
    border-radius: 10px;
    height:100%
}

div.error {
    text-align: center;
    color:rgb(212, 74, 74);
    background-color: rgb(245, 179, 179, 0.5);
    border-radius: 10px;
    height:100%
}



/**************************** Bid History ******************************/
#bid-log {
    max-width: 90vw;
}

/**************************** Description ******************************/
#description p {
    font-size: 14px;
    margin-bottom: 3px;
}

#description h6{
    margin-top: 10px;
    margin-bottom: 30px;
}

/**************************** MediaQuery ******************************/
@media only screen and (min-width: 768px) {
    main{
        display: flex;
        flex-direction: row;
        max-width: 80vw;
    }

    main>div {
        width:50vw;
    }

    #left-section {
        margin-right:10%;
        max-width:40vw;
    }
    #right-section {
        margin-top:60px;
    }
    #image {
        max-width:100%;
        max-height:80%
    }
}
    