/**************************** Profile ******************************/
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#profile-image {
    width: 100px;
    margin: 10px;
}

/**************************** Navigation Tabs ******************************/
#tab-header {
    display: flex;
    align-items: center;
    height: 50px;
}

#tab-header div {
    font-size: 20px;
    font-weight: bold;
    width: 33%;
    text-align: center;
    cursor: pointer;
    color: rgb(107, 107, 107)
}

#tab-header div.active {
    color: rgb(67, 110, 228)
}

#indicator {
    position: relative;
    width: 33%;
    height: 4px;
    background-color: rgb(67, 110, 228);
    border-radius: 3px;
    left: 0px;
    transition:all 0.2s ease-in-out;
}
#content {
    position: relative;
}
#content > section {
    opacity: 0;
    position: absolute;
    top: 10px;
    width: 100%;
}

#content > section.active {
    opacity: 1;
}

/**************************** Listings ******************************/

#listing-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#listing-container>a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

#listing-container img{
    min-width: 150px;
    max-width: 150px;
    margin: 0px;
}

.listing-card {
    display: flex;
    flex-direction: column;
}

/**************************** Bids ******************************/
