:root{
  --yellow: #F2C34F;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
 
/******************** Top Nav Mobile ************************/
#mobile-nav {
  z-index: 999;
  background-color: #f8f8f8 !important;
}

#mobile-nav >div {
  width:100%;
  margin-left: 10px;
  margin-right: 10px
}

.navbar-brand {
  margin-left:50px;
  font-family: 'Courier New', Courier, monospace;
  color: #F2C34F !important;
  font-weight: 500;
  font-size: 25px !important;
}

/******************** Side Nav Mobile ************************/
#side-nav {
  background-color: white !important;
  display: absolute;
  position: fixed;
  left: 0;
  height: 100%;
  transition: 0.3s;
  width: 0px;
  overflow-x: hidden;
  z-index: 998;
  display: flex;
  flex-direction: column;
}

#side-nav a{
  margin: 10px 20px;
  text-decoration: none;
  color:black;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 997;
  display: none;
}
/******************** Top Nav Desktop ************************/
#desktop-nav {
  display: none;
  background-color: #f8f8f8 !important;
}


@media only screen and (min-width: 768px) {
  #side-nav {
    display: none;
  }
  #mobile-nav{
    display: none;
   }
  
  #desktop-nav {
    display: flex;
  }



}

.image-area {
  position: relative;
  width: 50%;
  background: #333;
}
.image-area img{
  max-width: 100%;
  height: auto;
}
.remove-image {
display: none;
position: absolute;
top: -10px;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}


/* The Modal (background) For the Delete Button in Detail.html*/

button {
  background-color: #f86767;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}


/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: auto;
  top: auto;
  width: 70%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #a0a1a1;
  padding-top: 50px;
  z-index: 501;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

/* Modal Content/Box */
.close:hover,
.close:focus {
  color: #d82619;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

a, button {
  text-decoration: none;
} 