{% extends 'base.html' %}

{% block title %} Messages {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block content %}
<h2>Your messages about '{{thread.listing.name}}' with {{ other_user }} </h2>
<div id="chat-window">
    {% for message in messages%}
    {% if message.sender.id == user_id %}

    <div class="message-container my-messages">
        <span>{{ message.datetime|date:'M d g:i A' }}</span>
        <div class="message">
            <p>{{ message.message }}</p>
        </div>
    </div>
    {% else %}

    <div class="message-container other-messages">
        <span>{{ message.datetime|date:'M d g:i A' }}</span>
        <div class="message">
            <p>{{ message.message }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


<form action="{% url 'send_message' thread.id %}" method="post" class="row row-cols-lg-auto g-3 align-items-center">
    {% csrf_token %}
    <div class="input-group">
        <div id="textbox">
            <input type="text" id="textbox" name="message" class="form-control" placeholder="Message..">
        </div>
        <div>
            <button id="send-button" type="submit" class="btn btn-primary"><span class="material-icons">
                    send
                </span></button>
        </div>
    </div>
</form>

<script>
    let input = document.getElementById("textbox")
    input.focus()

    let chatWindow = document.getElementById("chat-window")
    chatWindow.scrollTop = chatWindow.scrollHeight
</script>
{% endblock %}