{% extends 'base.html' %}
{% load humanize %}
{% block title %} Messages {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block content %}

<h1>Inbox</h1>

{% if threads.count %}
<div id="thread-list">
    {% for thread in threads %}
    <a href="{% url 'message_detail' thread.id %}">
        <div class="thread-card">
            {% if thread.thread_photo %}
            <div class="card-photo">
                <img class="listing-image" src="{{ thread.thread_photo }}">
            </div>
            {% else %}
            <div class="card-photo">
                <img class="listing-image" src="{% static 'images/no-image.png' %}">
            </div>
            {% endif %}
            <div class="card-text">
                <h6 class="card-title">{{ thread.listing.name }}</h6>
                <p class="card-message">{{ thread.latest_message}}</p>
                <p class="card-date">
                    <span class="material-icons">
                        account_circle
                    </span>
                    <span>
                        {% if userid != thread.user1.id %}
                        {{ thread.user1.username }}
                        {% else %}
                        {{ thread.user2.username }}
                        {% endif %}
                    </span>
                    <small class="text-muted">{{ thread.latest_message_date|date:'M d g:i A' }}</small>
                </p>
            </div>
        </div>
    </a>
</div>


{% endfor %}
{% else %}
<h3>You have no messages</h3>
</div>
{% endif %}


{% endblock %}