{% extends 'base.html' %}
{% load humanize %}
{% block title %} Messages {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block content %}

<h1>MESSAGE INDEX</h1>

{% if threads.count %}
<div id="thread-list">
    {% for thread in threads %}

    <a href="{% url 'message_detail' thread.id %}">
        <div class="thread">
            <h5 class="card-title">{{ thread.listing.name }}</h5>
            <p class="card-text">{{ thread.latest_message}}</p>
            <p class="card-text"><small class="text-muted">Last message on {{ thread.latest_message_date }}</small></p>
        </div>
    </a>

    {% endfor %}
    {% else %}
    <h3>You have no messages</h3>
</div>



{% endblock %}